body{
	width: 100%;
	height:100%; 
	background: url(../images/bg.png) no-repeat;
}

.form{
	width: 700px;
	height: 500px;
	border: 1px solid rgba(7,17,27,0.3);
    margin-top: 6%;
    margin-left: 69%;
}

.form .form-ul{
	padding-left: 123px;
    padding-top: 97px
}
.form label{
	float: left;
	font-size: 16px;
	width: 100px;
	display:list-item;
	margin-top: 3px;
}
.form .form-ul li{
	padding-bottom: 36px;


}
.form ul li input{
	padding: 5px 2px 2px 7px;	
	border: 1px solid #83908F;
    border-radius: 8px;
    background: url(../images/hua.png) no-repeat 98%;
    transition: padding 1s;
	width: 180px;

}
.form ul li input:focus,.form ul li input:hover{
	padding-right: 20px;
	background-image: url(../images/hudie.png);
	border: 1px solid #38c5e8;
}
.form ul li input .error{
	border: 1px solid red;
}

.form ul li label span{
	display: inline-block;
	padding-right: 8px;
	font-size: 16px;
	padding-bottom: 2px;
}
.form ul li .n3{
	padding-right: 5px;
}
.tijiao{
	margin-top: -82px;
}
.tijiao li{
	float: left;
	
}
.form .tijiao li input{
	width: 142px;
	background: url(../images/kongbai.png) no-repeat;
	font-size: 20px;
    color: rgba(38, 39, 39, 0.66);
	font-weight: bold;
	cursor: pointer;
	transition: background-color 1s; 
}
.form .tijiao li input:hover{
	background-color:#CFE8CA;
	background-image: url(../images/kongbai.png);
}
.form .tijiao li input:focus{
	background-image: url(../images/kongbai.png);
}

.form ul images{
	position: relative;
	top: -17px;
	width: 100px;
	height: 30px;
	margin-top: -12px;
    margin-left: 183px;
    border: 1px solid #191818;
    border-radius: 11px;
    opacity: 0;
   	cursor: pointer;	

}
.error-msg{
	display: inline-block;
	color: red;
}
.errorlist{
	padding-left: 0px;
    padding-top: 0px;
}


