@import "mixin";
.home-main{
    position: relative;
    .video-detail{
    }
    .home-wrapper{
      margin: 0 auto;
      width: 1160px;
      .scroll-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .video_top{
          width: 700px;
          height: 220px;
        }
      }
      .select-animation{
        margin-top: 60px;
        width: 100%;
        height: 365px;
      }
      .select-ghost{
        margin-top: 20px;
        width: 100%;
        height: 365px;
      }
    }
  }

.video-box{
    width: 440px;
    height: 220px;
    position: relative;
    overflow: auto;
    ul li { float: left; }
    li{
      list-style: none
    }
  .dots{
    position:absolute;
    bottom:10px;
    left:50%;
    width:80px;
    margin-left:-40px;
    li{
    float:left;
    margin:5px;
    background:#fff;
    width:12px;
    height:12px;
    border-radius:50%;
    color:#fff;
    text-align:center;
    cursor:pointer;
    overflow: hidden;
    &.active{
    background:#717171;
    color:#717171;
    }
  }
}

.unslider-arrow {
    position: absolute;
    width:33px;
    height:50px;
    top: 45%;
    cursor: pointer;
    z-index:100;
}
.unslider-arrow.prev {
    left: 0;
    background:url(../images/slide_l.png) no-repeat center center;
}
.unslider-arrow.prev:hover {
    background:url(../images/slide_l_1.png) no-repeat center center;
}
.unslider-arrow.next{
    right:0;
    background:url(../images/slide_r.png) no-repeat center center;
}
.unslider-arrow.next:hover{
    background:url(../images/slide_r_1.png) no-repeat center center;
}
}

.item-wrapper{
    .item{
      position: relative;
      overflow: hidden;
      float: left;
      cursor: pointer;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 160px;
      height: 100px;
      background-image: url(../images/avatar.png);
      background-size: 160px 100px;
      &:nth-of-type(4){
        margin-right: 0;
      }
      &:nth-of-type(5){
        margin-bottom: 0;
      }
      &:nth-of-type(6){
        margin-bottom: 0;
      }
      &:nth-of-type(7){
        margin-bottom: 0;
      }
      &:nth-of-type(8){
        margin-bottom: 0;
        margin-right: 0;
      }
      .item-mask{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(7,17,27,0);
        transition: all 0.2s;
      }
      .item-title{
        position: absolute;
        overflow: hidden;
        top: 82px;
        left:0;
        line-height: 18px;
        text-align: center;
        width: 160px;
        max-height: 40px;
        font-size: 12px;
        color: #fff;
        background-color: rgba(34, 34, 34, 0.55);
        transition: all 0.4s;
      }
      .info{
        opacity: 0;
        position: absolute;
        bottom: 0;
        transition: all 0.4s;
        p{
          margin-left: 5px;
          line-height: 20px;
          font-size: 12px;
          color: #99a2aa;
        }
      }
      &:hover .item-mask{
        background: rgba(7,17,27,0.5);
      }

      &:hover .item-title{
        top: 5px;
        background-color: rgba(34, 34, 34, 0);
      }
      &:hover .info{
        opacity: 1;
      }
    }


  }


.select-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .left{
    width: 880px;
  }
  .right{
    width: 260px;
  }
}

.select_header_wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 25px;
    width: 100%;
    height: 25px;
    font-size: 0;
    .img{
      margin-left: 5px;
      margin-top: -10px;
    }
    .title{
      margin-left: 10px;
      font-size: 24px;
      color: #222;
    }
    .new_info{
      .new{
        display: inline-block;
        margin-left: 20px;
        font-size: 12px;
        color: #222;
      }
      .active{
        @include border-bottom-1px(rgba(7,17,27,0.5))
      }
      .new_action_info{
        display: inline-block;
        margin-left: 40px;
        .icon{
          font-size: 14px;
          color: hotpink;
        }
        .info{
          margin-left: 8px;
          font-size: 12px;
          color: #6d757a;
        }
      }
      .more_data{
        position: absolute;
        right: 0;
        top:0;
        .change_video,.more{
          display: inline-block;
          cursor: pointer;
          padding: 0 10px;
          border: 1px solid rgb(204, 208, 215);
          border-radius: 5px;
          font-size: 12px;
          color: #222;
          transition: all 0.3s;
          &:hover{
            background: rgb(204, 208, 215);
          }
          .icon-loop2{
            display: inline-block;
            transition: all 0.3s;
          }
          &:hover .icon-loop2{
            transform: rotate(180deg);
          }
        }
        .change_video{
          margin-right: 10px;
        }
      }
    }

  }

.selectItem-wrapper{
    padding-top: 20px;
    width: 100%;
    height: 320px;
    .item{
      position: relative;
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      margin-right: 15px;
      margin-bottom: 20px;
      width: 160px;
      height: 150px;
      .item_mask{
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: 0;
        width: 160px;
        height: 100px;
        background: rgba(7,17,27,0.0);
        transition: all 0.4s;
      }
      &:hover .item_mask{
        background: rgba(7,17,27,0.5);
      }
      .thumb{
        border-radius: 5px;
      }
      .title{
        padding-top: 8px;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 22px;
        font-size: 12px;
        color: #222;
      }
      .info{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        width: 100%;
        font-size: 0;
        transition: all 0.5s;
        .icon{
          margin-right: 5px;
          font-size: 12px;
        }
        .see,.commit{
          font-size: 12px;
          color: #99a2aa;
        }
      }
      &:hover .info{
        bottom: -30px;
      }
      &:nth-of-type(5){
        margin-right: 0;
      }
      &:nth-of-type(6){
        margin-bottom: 0;
      }
      &:nth-of-type(7){
        margin-bottom: 0;
      }
      &:nth-of-type(8){
        margin-bottom: 0;
      }
      &:nth-of-type(9){
        margin-bottom: 0;
      }
      &:nth-of-type(10){
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }

.selectTop{
    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 25px;
      height: 25px;
      h1{
        font-size: 18px;
        color: #222;
      }
      .new_date{
        border: 1px solid rgb(204, 208, 215);
        border-radius: 4px;
        margin-right: 2px;
        padding: 0 7px;
        font-size: 12px;
        .icon{
          margin-left: 5px;
        }
      }
    }
    .top{
      position: relative;
      padding-top: 20px;
      font-size: 0;
      height: 320px;
      .item{
        position: relative;
        margin-bottom: 18px;
        padding-left: 40px;
        .no{
          position: absolute;
          left: 0;
          top:0;
          padding: 0 10px;
          font-size: 12px;
          font-weight: bold;
          line-height: 17px;
          color: #fff;
          background: #f25d8e;
        }
        .title{
          display: inline-block;
          white-space:nowrap;
          overflow:hidden;
          cursor: pointer;
          line-height: 18px;
          width: 215px;
          font-size: 12px;
          color: #222;
          &:hover{
            color: #00a1d6;
          }
        }
        .top_one{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 125px;
            .title{
              display: block;
              word-break: normal;
              white-space: pre-wrap;
              word-wrap: break-word;
              width: auto;
              line-height: 18px;
              max-height: 36px;
            }
            .score{
              font-size: 12px;
              color: #99a2aa;
            }
          }
        }
      }
      .more{
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        border: 1px solid #e0e6ed;
        border-radius: 4px;
        text-align: center;
        line-height: 24px;
        font-size: 12px;
        width: 99%;
        height: 24px;
        background: #e5e9ef;
        color: #222;
        transition: all .4s;
        .icon{
          margin-left: 5px;
          font-size: 12px;
        }
        &:hover{
          background: #ccd0d7
        }
      }
    }
  }