{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}FD动漫爱好网-本子详情页{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movieadd.css' %}">
{% endblock %}

{% block content %}

<form action="{% url 'music:music_add' %}" enctype="multipart/form-data" method="post">
    <ul>
        <li>
            <label for="">专辑名</label>
            <input type="text" name="name" value=""/>
        </li>
        <li>
            <label for="">类型选择</label>
            <select name="tag">
            <option value="zy">治愈</option>
            <option value="rx">燃向</option>
            <option value="love">恋爱</option>
            <option value="sad">悲伤</option>
            <option value="cyy">纯音乐</option>
            <option value="code">代码</option>
        </select>
        </li>

        <li>
            <label for="">上传封面图</label>
            <input type="file" name="image" id="avatarUp" class="js-img-up"/>
        </li>

        <li>
            <label for="">音乐描述</label>
            <input type="text" name="desc" value=""/>
        </li>

        <li>
            音乐详情
            <textarea id="editor_id" name="detail"></textarea>
        </li>



    </ul>

    <ul>
        <li>
            <label for="">章节名</label>
            <input type="text" name="lesson_name" value=""/>
        </li>
    </ul>

    <ul>
        <li>
            <label for="">音乐名</label>
            <input type="text" name="lessonMusic_name" value=""/>
        </li>
        <li>
            <label for="">歌手</label>
            <input type="text" name="singer" value=""/>
        </li>
         <li>
            <label for="">上传音乐图</label>
            <input type="file" name="music_image"/>
        </li>
        <li>
            <label for="">音乐歌词</label>
            <input type="text" name="lrc" value=""/>
        </li>
        <li>
            <label>上传音乐</label>
            <input type="file" id="xiaohai_video" onchange="upload(this.files)" />
            <input id="movie-url" name="music_url" type="hidden" value=""/>
            <progress id="progress" value="0" max="100"></progress>
        </li>
    </ul>
    {% csrf_token %}
    <input type="submit" value="提交">
</form>

{% endblock %}

{% block js %}
<script src="{% static 'js/kindeditor/kindeditor-all-min.js' %}"></script>
<script src="{% static 'js/kindeditor/lang/zh-CN.js' %}"></script>
<script>

KindEditor.ready(function(K){
    K.create('#editor_id',{
        width:500,
        height:200,
        uploadJson: '/book/upload/kindeditor',
        afterBlur: function(){this.sync();}
    })
})

function upload(){
var fd = new FormData();
fd.append("file",$('#xiaohai_video')[0].files[0]);
fd.append("token","{{ token }}");
fd.append("key","{{ key }}");
var xhr = new XMLHttpRequest();
xhr.addEventListener('progress', function(e) {
  var done = e.loaded || e.loaded, total = e.total || e.total;
  console.log('xhr上传进度: ' + (Math.floor(done/total*1000)/10) + '%');
}, false);
if ( xhr.upload ) {
  xhr.upload.onprogress = function(e) {
    var done = e.loaded || e.loaded, total = e.total || e.total;
    console.log('xhr.upload上传进度: ' + done + ' / ' + total + ' = ' + (Math.floor(done/total*1000)/10) + '%');
    document.getElementById("progress").value = Math.floor(done/total*1000)/10;
    if ((Math.floor(done/total*1000)/10) == 100 ){
      $('#movie-url').val('oozwhi2sn.bkt.clouddn.com/' + '{{ key }}')
    }
  };
}
xhr.onreadystatechange = function(e) {
  if ( 4 == this.readyState ) {
    console.log(['xhr upload complete', e]);
  }
};
xhr.open('POST', "http://up.qiniu.com", true);
xhr.send(fd);
}


</script>
{% endblock %}